body{
	padding:0px;
	background:grey;
	margin:0px;

}

.navbar{
	background:#5fb3f9;
	width:100%;
	overflow:hidden;
	padding:30px;
	font-size:45px;
}
.navbar h1{
	font-family:Copperplate Gothic Bold;
	color:navy;
	text-align:center;
	font-size:45px;

}
.left{
	float:left;
}
.right{
	float:right;
}
	
.pagebody{
	margin:10px;
}









.right a{
	text-decoration:none;
	font-family:Copperplate Gothic Bold;
	color:navy;
	display:inline-block;
	padding:15px;
	font-size:20px;
}
.right a:hover{
	color:red;
}
.form-box{
	background:white;
	padding:20px;
	margin:20px auto;
	width:600px;
	font-family:Copperplate Gothic Bold;
}
.input{
	display:block;
	border:1px solid gray;
	padding:10px;
	font-family:Copperplate Gothic Bold;
	width:100%;
	margin-bottom:20px;
}
.button{
	background:black;
	color:white;
	font-family:Copperplate Gothic Bold;
	padding:10px;
	border:1px solid black;
	cursor:pointer;
}

table{
	width:100%;
	border-collapse:collapse;
}
table th{
	padding:7px;
	background:black;
	color:White;
	border:1px solid black;
}
table td{
	padding:7px;
	color:black;
	border:1px solid black;
}
.delete{
	color:red;
	text-align:center;
	width:49%;
	padding:10px;
	display:inline-block;
}
.edit{
	color:blue;
	text-align:center;
	padding:10px;
	display:inline-block;
}

.footer{
	background:WHITE;
	height:40px;
	width:100%;
	font-family:Copperplate Gothic Bold;
	
}











.container{
	height:230px;
	width:750px;
	position:relative;
	margin:auto;
	padding:100px;
	top:0;
	bottom:0;
	left:0;
	right:0;
	perspective:2000px;
	-webkit-perspective:2000px;
}
.item{
	float:left;
	height:130px;
	width:130px;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}
.front,.back{
	height:100%;
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	backface-visibility: hidden;
}
.item:nth-child(1)>div{
	background-color: #5fb3f9;
}
.item:nth-child(2)>div{
	background-color: #5fb3f9;
}
.item:nth-child(3)>div{
	background-color:#5fb3f9 ;
}
.item:nth-child(4)>div{
	background-color:#5fb3f9 ;
}
.item:nth-child(5)>div{
	background-color:#5fb3f9;
}


a{
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: Copperplate Gothic Bold;
	font-weight: 600px;
}

.container a:hover{
	color:red;
}

.fa{
	color:navy;
	font-size:60px;
}

.fas{
	color:navy;
	font-size:60px;
}



.back{
	position: relative;
	transform: rotateX(180deg);
	bottom: 130px;
}
.item:hover{
	transform: rotateX(180deg);
	transition: 1s;
}

.searchBar{
	width:60%;
	height:50px;
	border-radius:2px;
	box-shadow:1px 4px 2px #0000005c;
	border:none;
	text-align:center;
	font-size:20px;
}
